SOAP/PWSWP/ch09/foo.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-b05-RC1. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-b05-RC1. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ws.mleadr.referentia.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://ambon.ifa.hawaii.edu:8080/Mleadr/AuthService?xsd=1" targetNamespace="http://services.ws.mleadr.referentia.com/" name="AuthServiceService">
<types>
<!--
<xsd:schema>
<xsd:import namespace="http://services.ws.mleadr.referentia.com/" schemaLocation="http://ambon.ifa.hawaii.edu:8080/Mleadr/AuthService?xsd=1"></xsd:import>
</xsd:schema>
-->
</types>
<message name="login">
<part name="parameters" element="tns:login"></part>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"></part>
</message>
<message name="SOAPException">
<part name="fault" element="tns:SOAPException"></part>
</message>
<message name="logout">
<part name="parameters" element="tns:logout"></part>

</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse"></part>
</message>
<message name="getEnvVar">
<part name="parameters" element="tns:getEnvVar"></part>
</message>
<message name="getEnvVarResponse">
<part name="parameters" element="tns:getEnvVarResponse"></part>
</message>
<portType name="AuthService">
<operation name="login">
<input message="tns:login"></input>
<output message="tns:loginResponse"></output>
<fault message="tns:SOAPException" name="SOAPException"></fault>
</operation>
<operation name="logout">

<input message="tns:logout"></input>
<output message="tns:logoutResponse"></output>
</operation>
<operation name="getEnvVar">
<input message="tns:getEnvVar"></input>
<output message="tns:getEnvVarResponse"></output>
</operation>
</portType>
<binding name="AuthServicePortBinding" type="tns:AuthService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="login">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>

</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="logout">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getEnvVar">
<soap:operation soapAction=""></soap:operation>
<input>

<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="AuthServiceService">
<port name="AuthServicePort" binding="tns:AuthServicePortBinding">
<soap:address location="http://ambon.ifa.hawaii.edu:8080/Mleadr/AuthService"></soap:address>
</port>
</service>
</definitions>
